body {
     background-color: #12192b;
    color: #e8ecf4;
    font-family: Georgia, serif;
}

h1 {
    color: #e0a542;
    font-size 48px; 
}

h2{
    font-size: 30px;
    color: #e8ecf4;
    border-bottom: 2px; solid #e0a542;
}

header {
    background-color: #0a0f1c;
    padding: 60px 20px;
    text-align: center;
}

nav {
    background-color: #0a0f1c;
    padding: 12px;
    text-align: center;
    border-top: 1px solid #98a4bd;
    border-bottom: 1px solid #98a4bd;
}

nav a{
    color: #e8ecf4;
    text-decoration: none;
}

nav a: hoover{
    color: #e0a542;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 20px;
}

article {
    background-color: #1b2438;
    border-left: 4px solid #e0a542;
    padding: 20px;
    margin-bottom: 25px;
}

img{
    border: 2px solid #98a4bd;
}

figcaption{
    font-size: 14px;
    font-style: italic;
    color: :#98a4bd;
    margin-top: 5px;
}

aside {
    background-color: #f2e7d0;
    color: #2a2317;
    padding: 20px 25px;
    margin: 40px 0;
}

aside h2{
    color: #2a2317;
    border-bottom-color: #2a2317;
    margin-top: 0;
}

footer{
    background-color: #0a0f1c;
    padding: 30px 20px;
    font-size: 14px;
    color: #98a4bd;
}

footer a{
    color: #e0a542;
    text-decoration: none;
}